{% extends "layout.html" %}
{% block content %}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset >
                <legend >Log In</legend>
                <div >
                    {{ form.username.label() }}
                    {% if form.username.errors %}
                        {{ form.username() }}
                        <div>
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username() }}
                    {% endif %}
                </div>
                <div >
                    {{ form.password.label() }}
                    {% if form.password.errors %}
                        {{ form.password() }}
                        <div>
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password() }}
                    {% endif %}
                </div>
            </fieldset>
            <div >
                {{ form.submit() }}
            </div>
        </form>
    </div>
    <div>
          <a href="{{url_for('users.register')}}">register</a>
    </div>
{% endblock content %}
